
        	body{    
            	font-family: 'Kosugi Maru', sans-serif;
            	background-color: AliceBlue;
              text-align:center;
                color: black; 
            }
        
        
        	h1, h2{
            
            	color: black;
            
            }
            h3{ color: indigo;}
        